<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div class="footer-get-connected">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <p>
            <a href=""><span class="fa fa-facebook" ></span></a>
         
            <a href=""><span icon="envelope"></span></a>
          
            <a href=""><span icon="phone"></span></a>
        
            <a href=""><span icon="print"></span></a>
          </p>
  

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">MOS</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing
          elit.
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Pages</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a routerLink="/">Home</a>
        </p>
        <p>
          <a routerLink="/services">Services</a>
        </p>
        <p>
          <a routerLink="/projects">Projects</a>
        </p>
        <p>
          <a routerLink="/about">About</a>
        </p>
        <p>
          <a routerLink="/contact">Contact</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Packages</a>
        </p>
        <p>
          <a href="#!">Work</a>
        </p>
        <p>
          <a href="#!">FAQ</a>
        </p>
        <p>
          <a routerLink="/contact">Contact Us</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <span icon="home" class="mr-3">Mississauga, ON. Canada</span>
        </p>
        <p>
          <a icon="envelope" class="mr-3" href="mailto:info@mosmississauga.com">info@mosmississauga.com</a> 
        </p>
        <p>
          <a icon="phone" class="mr-3" href="tel:6478664104">(647) 866 4104</a>
        </p>
        <p>
          <a icon="print" class="mr-3" href="tel:6473913576">(647) 391 3576</a>
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mosmississauga.com/"> MosMississauga.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->