<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-md-4 offset-md-1">
            <img src="assets/images/moiez.png" alt="" width="330px" height="auto">
          </div>
          <div class="mt-4 col-md-6 bio-col">
            <h3>Moiez Malik</h3>
            <p>Developer</p>
            <p>Moiez has been developing in technology industry from past 6 years, he is a graduate from Sheridan College in Computer Programming. Moiez is expert in web design and web application.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-md-4 offset-md-1">
            <img src="../../../assets/images/mos_contact_us.jpg" alt="" width="200px" height="auto">
          </div>
          <div class="col-md-6 bio-col">
            <h3>Osama Faisal</h3>
            <p>Developer</p>
            <p>Moiez has been developing in technology industry from past 6 years, he is a graduate from Sheridan College in Computer Programming. Moiez is expert in web design and web application.</p>          
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-md-4  offset-md-1">
            <img src="../../../assets/images/mos_contact_us.jpg" alt="" width="200px" height="auto">
          </div>
          <div class="col-md-6 bio-col">
            <h3>Sabi Shah</h3>
            <p>Developer</p>
            <p>Moiez has been developing in technology industry from past 6 years, he is a graduate from Sheridan College in Computer Programming. Moiez is expert in web design and web application.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <span class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon" style="font-size:48px; color:#414042;"></span>
 
  </span>
  <span class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </span>
</div>