<div  class="hero_container" data-item="1">
		<img #sliderHeight 
		src="assets/images/bkg-home.jpg" class="hero-img" alt="Mos Banner">
		
	</div>
	<app-navbar></app-navbar>

<div id="first_container">
	<div class="row text-center">
		<div class="col-xs-8 offset-xs-2 col-sm-8 offset-sm-2 col-md-8 offset-md-2 col-lg-8 offset-lg-2 home_first_slice">
			<h2>We succeed if our clients suceed</h2>
			<p>We are commited to help our clients impove there brands and visibility online. We go extra miles to to make sure your
				success.
			</p>
		</div>
	</div>
	<div class="home_sec_slice">
		<div class="row ">
			<div class="col-md-5 offset-md-1 col-sm-5 offset-sm-1 col-lg-5 offset-lg-1">
				<img alt="" src="">
			</div>
			<div class="col-md-5 offset-md-1 col-sm-5 offset-sm-1 col-lg-5 offset-lg-1">
				<h2>Our Services</h2>
				<p>At Mos - Web & Digital Marketing we provide services cattered to your needs. Our experts are always
					<br /> available to provide you the support you need.</p>
				<a href="./services">Learn More</a>
			</div>
		</div>
	</div>

</div>

<!-- second slice -->
<div id="sec_container">
	<div class="row text-center">
		<div class="col-md-10 offset-md-1 home_first_slice">
			<h2 class="mt-4 mb-5">Meet Our Experts</h2>
			<app-team-slider></app-team-slider>
		</div>
	</div>
	<div class="home_sec_slice">
		<div class="row ">
			<div class="col-md-5 offset-md-1 col-sm-5 offset-sm-1 col-lg-5 offset-lg-1">
				<h2>Select Your Package</h2>
				<p>We have created multiple package to accomate our clients needs. </p>
				<a href="./services">Learn More</a>
			</div>
			<div class="col-md-5 offset-md-1 col-sm-5 offset-sm-1 col-lg-5 offset-lg-1">
				<img alt="" src="">
			</div>
		</div>
	</div>
</div>
<!-- Third slice -->
<div id="sec_container">
	<div class="row">
		<div class="text-center home_first_slice col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-lg-6 offset-lg-3 ">
			<h2>Testimonals slider go here</h2>

		</div>
		<div class="col-md-5 offset-md-1 col-sm-5 offset-sm-1 col-lg-5 offset-lg-1">
			<img alt="" src="">
		</div>
	</div>
	<div class="home_sec_slice">
		<div class="row text-center">
			<div class="col-md-12 home_contact_slice">
				<app-contact-form></app-contact-form>


			</div>
		</div>
	</div>
</div>
